body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.section {
    padding: 50px 20px;
    text-align: center;
}
.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
}

/* Content box */

#content-box {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  #content-text {
    font-size: 16px;
    line-height: 1.5;
    color: brown;
  }
  
  #content-text h1,
  #content-text h2,
  #content-text h3,
  #content-text h4,
  #content-text h5,
  #content-text h6 {
    color: green;
  }
  
  #content-text a {
    color: black;
    text-decoration: underline;
  }
  
  #content-text p {
    margin-bottom: 15px;
  }
  